<% layout('layout') -%>
<div class="product">
  <img src="<%= product.image %>" alt="<%= product.name %>">
  <div class="product-info">
    <h1><%= product.name %></h1>
    <p class="price">$<%= product.price.toFixed(2) %></p>
    <p><%= product.description %></p>
    <form action="/cart/add" method="post" class="qty-row">
      <input type="hidden" name="id" value="<%= product.id %>">
      <label>Qty</label>
      <input type="number" name="qty" value="1" min="1">
      <button type="submit" class="btn">Add to Cart</button>
    </form>
  </div>
</div>
